.home {
    // background-color: #fdba74;
    display: flex;

   .homeContainer {
    flex: 6;

    .widgets,
    .charts {
        display: flex;
        padding: 20px;
        gap: 20px;
    }
    
    .charts {
        padding: 5px 20px;
    }

    .listContainer {
        box-shadow: 4px 11px 6px -7px rgba(201,201,201,0.83);
        -webkit-box-shadow: 4px 11px 6px -7px rgba(201,201,201,0.83);
        -moz-box-shadow: 4px 11px 6px -7px rgba(201,201,201,0.83);
        padding: 20px;
        margin: 20px;

        .listTitle {
            font-weight: 500;
            margin-bottom: 15px;
            color: #6b7280;
        }
    }
   }
}