.widget {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-shadow: 4px 11px 6px -7px rgba(201,201,201,0.83);
    -webkit-box-shadow: 4px 11px 6px -7px rgba(201,201,201,0.83);
    -moz-box-shadow: 4px 11px 6px -7px rgba(201,201,201,0.83);
    border-radius: 10px;
    height: 100px;

    .left,
    .right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
            font-weight: bold;
            font-size: 14px;
            color: #9ca3af;
        }

        .counter {
            font-size: 28px;
            font-weight: 200;
        }

        .link {
            width: max-content;
            font-size: 12px;
            border-bottom: 1px solid gray;
        }

        .percentage {
            display: flex;
            align-items: center;
            font-size: 14px;

            &.positive {
                color: #22c55e;
            }
            &.negatif {
                color: #dc2626;
            }
        }

        .icon {
            font-size: 18px;
            padding: 5px;
            border-radius: 5px;
            align-self: flex-end;
        }
    }

}